.accordion {
  padding: 22px 17px;
  min-height: 84px;
  border: 2px solid $primary;
  border-radius: 14px;
  cursor: pointer;

  p {
    margin: 0;
    padding: 0;
    max-height: 0;
    font-size: 14px;
    line-height: 20px;
    color: $beige;
    opacity: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.3s ease-out;
    box-sizing: content-box;
  }

  span {
    max-width: 187px;
    display: block;
    font-size: 16px;
    line-height: 18px;
    color: $primary;
  }
}

.accordion.accordion--open {
  background-color: $primary;

  span {
    color: $white;
  }

  p {
    color: $white;
    margin-top: 20px;
    opacity: 1;
  }
}

.accordion__control {
  padding: 0;
  position: relative;
  width: 100%;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}

.accordion__icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  right: 0;
  padding: 10px;
  display: inline-block;
  transform: translateY(-50%);
  border-radius: 30px;
  background-color: $primary;
  transition: transform 0.3s ease-out;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 1px;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
  }
}

.accordion--open .accordion__icon {
  background-color: $white;

  &::before {
    background-color: $primary;
  }

  &::after {
    width: 0;
  }
}
