.contacts {
  padding: 76px 15px 75px;
  background-color: $primary;
}

.contacts__title {
  margin: 0 0 35px;
  color: $white;
}

.contacts__name {
  margin: 0 0 14px;
  display: block;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $beige;
  opacity: 0.8;
}

.contacts__address {
  font-style: normal;
}

.contacts__address,
.contacts__link {
  margin: 0 0 21px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
  }
}

.contacts__map-wrapper {
  padding: 30px 0 0;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.contacts__map {
  display: block;
  border-radius: 16px;
}
