.description {
  margin: 0 0 24px;
  display: grid;
  grid-template-columns: 108px 67px;
  align-items: center;
  gap: 0 25px;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    margin: 0 0 30px auto;
    padding: 0 0 0 20px;
    grid-template-columns: 126px 78px;
    grid-column: 3;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 auto;
    padding: 0 0 0 92px;
  }
}

.description__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: $tablet-width) {
    gap: 11px;
  }

  @media (min-width: $desktop-width) {
    gap: 10px;
  }
}

.description__term {
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $primary;
}

.description__definition {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: $text;
  opacity: 0.9;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }
}
