.field {
  padding: 0;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background-color: transparent;
}

.field--error {
  outline: none;
  border-color: $state-error;
  background-color: rgba(255, 94, 102, 0.2);
}
