.footer {
  margin-top: auto;
  padding: 40px 15px;
  background-color: $beige;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  margin: 0 auto 20px;
  display: block;
}

.footer__menu {
  margin: 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 30px;
}

.footer__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $text;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    line-height: 17px;
  }
}

.footer__privacy-policy {
  margin: 0 0 13px;
  max-width: 182px;
  align-self: center;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  color: $text;
  border-bottom: 1px solid $text;
}

.footer__copyright {
  margin: 0 0 15px;
  order: 1;
  display: block;
  align-self: center;
  font-size: 12px;
  line-height: 14px;
  color: $text;
  opacity: 0.6;
}
