.form {
  padding: 43px 10px 40px;
  position: relative;
  background-image: url("../../img/form/form-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (resolution >= 2dppx) {
    background-image: url("../../img/form/form-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    padding: 50px 58px;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 100px;
    background-image: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    background-color: $beige;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  &::after {
    top: auto;
    bottom: 0;
  }
}

.form__container {
  @media (min-width: $tablet-width) {
    background-color: #a3aca5;
    background-image: url("../../img/form/form-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;

    @media (resolution >= 2dppx) {
      background-image: url("../../img/form/form-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/form/form-desktop.png");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/form/form-desktop@2x.png");
    }
  }
}

.form__wrapper {
  margin: 43px auto 40px;
  padding: 15px 15px 27px;
  max-width: 300px;
  background-color: $primary;
  border-radius: 16px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 41px 40px 36px;
    max-width: 442px;
  }

  @media (min-width: $desktop-width) {
    padding: 44px 70px 40px;
    max-width: 490px;
  }
}

.form__title {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 22px;
  color: $white;

  @media (min-width: $tablet-width) {
    margin: 0 0 31px;
    max-width: 346px;
    font-size: 28px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 34px;
    font-size: 32px;
    line-height: 36px;
  }
}

.form__text {
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 20px;
  color: $beige;

  @media (min-width: $tablet-width) {
    margin: 0 0 40px;
    max-width: 346px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
    min-width: 346px;
  }
}

.form-element {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (min-width: $tablet-width) {
    max-width: 362px;
  }
}

.form-element--dark {
  gap: 8px;

  @media (min-width: $tablet-width) {
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    gap: 12px;
  }

  .form-element__label {
    color: $text;
    font-size: 14px;
    line-height: 100%;

    @media (min-width: $desktop-width) {
      line-height: 18px;
    }
  }

  .form-element__field {
    margin: 0 0 7px;
    font-family: $font-family;
    border-color: rgba(72, 72, 72, 0.3);
    color: $text;
    min-height: 44px;

    @media (min-width: $tablet-width) {
      min-height: 50px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 8px;
    }
  }
}

.form-element__label {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 12px;
  line-height: 14px;
  color: #cbd4e1;
  transition: color 0.3s ease;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }

  &:has(.form-element__field:focus-visible) {
    color: $beige;
  }

  @media (hover: hover) {
    &:hover,
    &:focus-within {
      color: $beige;

      .form-element__field {
        border-color: $white;
      }
    }
  }

  &:active {
    color: $beige;

    .form-element__field {
      border-color: $white;
    }
  }
}

.form-element--light-error {
  outline: none;
  border: 1px solid $state-error;
  background-color: rgba(255, 94, 102, 0.2);
}

.form-element--dark .form-element--dark-error {
  outline: none;
  border: 1px solid $state-error;
  background-color: rgba(255, 94, 102, 0.2);
}

.form-element__field {
  margin: 0 0 8px;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 100%;
  color: $beige;
  transition: color 0.3s ease, border-color 0.3s ease;

  &:focus-visible {
    outline: none;
    border-color: $white;
  }

  &:disabled {
    background-color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
  }
}

.form-element__textarea {
  min-height: 88px;
  width: 100%;
  resize: vertical;

  @media (min-width: $desktop-width) {
    margin: 0 0 5px;
    min-height: 90px;
  }
}

.form-element__textarea::-webkit-resizer {
  display: none;
}

.form-element__label--checkbox {
  max-width: 240px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 12px;
  line-height: 14px;
  color: $white;
  opacity: 1;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    line-height: 100%;
  }
}

.form-element__button {
  margin: 20px 0 0;
  width: 100%;
  background-color: transparent;
  color: $white;
  border-color: $white;

  @media (min-width: $tablet-width) {
    margin: 6px 0 0;
    max-width: 352px;
  }

  @media (min-width: $desktop-width) {
    margin: 5px 0 0;
  }

  &::after {
    background-color: $white;
  }

  &::before {
    background-color: $primary;
  }
}

.form-element__modal-button {
  margin-top: 17px;
  padding: 14px 68px 14px 30px;
  min-height: 42px;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: $primary;
  background-color: $white;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    min-height: 54px;
    min-width: 194px;
    max-width: 194px;
    align-self: center;
    font-size: 14px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: 11px;
  }

  &::before {
    width: 10px;
    height: 10px;
  }

  &::after {
    width: 34px;
    height: 34px;

    @media (min-width: $tablet-width) {
      width: 46px;
      height: 46px;
    }
  }

  @media (hover: hover) {
    &:hover {
      border-color: $primary;
      color: $white;
      background-color: $primary;

      &::before {
        background-color: $primary;
      }

      &::after {
        background-color: $white;
      }
    }
  }

  &:active {
    border-color: initial;
  }

  &:focus-visible {
    outline: none;
    border-color: $primary;
    color: $white;
    background-color: $primary;

    &::before {
      background-color: $primary;
    }

    &::after {
      background-color: $white;
    }
  }
}
