.form {
  padding: 43px 10px 40px;
  position: relative;
  background-image: url("../../img/form/form-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    padding: 50px 58px;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 100px;
    background-image: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    background-color: $beige;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  &::after {
    top: auto;
    bottom: 0;
  }
}

.form__container {
  @media (min-width: $tablet-width) {
    background-image: url("../../img/form/form-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/form/form-desktop.png");
  }
}

.form__wrapper {
  margin: 43px auto 40px;
  padding: 15px 15px 27px;
  max-width: 300px;
  background-color: $primary;
  border-radius: 16px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 41px 40px 36px;
    max-width: 442px;
  }

  @media (min-width: $desktop-width) {
    padding: 44px 70px 40px;
    max-width: 490px;
  }
}

.form__title {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 22px;
  color: $white;

  @media (min-width: $tablet-width) {
    margin: 0 0 31px;
    max-width: 346px;
    font-size: 28px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 34px;
    font-size: 32px;
    line-height: 36px;
  }
}

.form__text {
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 20px;
  color: $beige;

  @media (min-width: $tablet-width) {
    margin: 0 0 40px;
    max-width: 346px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
    min-width: 346px;
  }
}

.form__element {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (min-width: $tablet-width) {
    max-width: 362px;
  }
}

.form__label {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 12px;
  line-height: 14px;
  color: $beige;
  opacity: 0.8;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }
}

.form__field {
  margin: 0 0 8px;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 100%;
  color: $beige;
}

.form__textarea {
  min-height: 88px;
  width: 100%;
  resize: vertical;

  @media (min-width: $desktop-width) {
    margin: 0 0 5px;
    min-height: 90px;
  }
}

.form__textarea::-webkit-resizer {
  display: none;
}

.form__label--checkbox {
  max-width: 240px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 12px;
  line-height: 14px;
  color: $white;
  opacity: 1;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    line-height: 100%;
  }
}

.form__button {
  margin: 20px 0 0;
  width: 100%;
  background-color: transparent;
  color: $white;
  border-color: $white;

  @media (min-width: $tablet-width) {
    margin: 6px 0 0;
    max-width: 352px;
  }

  @media (min-width: $desktop-width) {
    margin: 5px 0 0;
  }

  &::after {
    background-color: $white;
  }

  &::before {
    background-color: $primary;
  }
}

.checkbox {
  padding: 0 0 0 30px;
  max-width: 188px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 12px;
  line-height: 14px;
  color: $white;
  cursor: pointer;

  &:hover .checkbox__control,
  &:focus-within .checkbox__control {
    background-color: transparent;
    box-shadow: 0 0 0 1px $white;
  }

  &:hover .checkbox__input:checked + .checkbox__control {
    background-color: transparent;
    box-shadow: 0 0 0 1px $white;

    &::before {
      background-color: $white;
    }
  }

  &:focus-within .checkbox__input:checked + .checkbox__control {
    outline: none;
    background-color: transparent;
    box-shadow: 0 0 0 1px $white;

    &::before {
      background-color: $white;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 10px 0 10px 30px;
    line-height: 100%;
    max-width: none;
  }
}

.checkbox__input {
  margin: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox__input--error {
  border-color: $state-error;
  background-color: rgba(255, 94, 102, 0.2);
  opacity: 0.7;
}

.checkbox__control {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: $white;
  border-radius: 2px;
  box-shadow: 0 0 0 1px $white;
  transition: background-color 0.3s, border 0.3s;
}

.checkbox__input:checked + .checkbox__control {
  background-color: $white;
  box-shadow: 0 0 0 1px $primary;
  border-radius: 2px;

  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary;
    mask-image: url("/__spritemap#sprite-checked-view");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 10px 8px;
  }
}

.checkbox__input:disabled + .checkbox__control {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 1px $white;
  pointer-events: none;
}

.checkbox__input:disabled:checked + .checkbox__control {
  background-color: $state-disabled;
  box-shadow: 0 0 0 1px $state-disabled;

  &::before {
    background-color: $white;
  }
}

.checkbox__input:disabled:checked:hover + .checkbox__control {
  background-color: $state-disabled;
  box-shadow: 0 0 0 1px $state-disabled;
}
