.header {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 2;

  @media (min-width: $tablet-width) {
    top: 30px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6px 15px;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.header__toggle {
  min-height: 54px;
  font-size: 14px;
  background-color: $white;
  transition: all 0.3s ease;

  @media (min-width: $tablet-width) {
    padding: 4px 60px 5px 20px;
    min-height: 56px;
  }

  &::before {
    width: 18px;
    height: 8px;
    right: 18px;
    background-color: $white;
    mask-image: url("/__spritemap#sprite-burger-view");
    mask-repeat: no-repeat;
    transition: all 0.3s ease;
  }

  &::after {
    padding: 19px 14px;
    width: 46px;
    height: 46px;
    top: 3px;
    right: 4px;
    transition: all 0.3s ease;

    @media (min-width: $tablet-width) {
      top: 4px;
    }
  }

  @media (hover: hover) {
    &:hover {
      border-color: $primary;
      color: $white;
      background-color: $primary;

      &::before {
        right: 18px;
        background-color: $primary;
        transform: translateY(-50%);
      }

      &::after {
        background-color: $white;
      }
    }
  }

  &:active {
    border-color: initial;

    &::before {
      transform: translateY(-50%);
    }
  }

  &:focus-visible {
    outline: none;
    border-color: $primary;
    color: $white;
    background-color: $primary;

    &::before {
      background-color: $primary;
      transform: translate(50%, -50%);
    }

    &::after {
      background-color: $white;
    }
  }
}

.header__toggle--opened {
  width: 100%;
  max-width: 290px;
  position: absolute;
  top: 0;
  color: $white;
  background-color: $primary;

  @media (min-width: $tablet-width) {
    right: 0;
  }

  &::before {
    width: 20px;
    height: 20px;
    right: 17px;
    background-color: $primary;
    mask-image: url("/__spritemap#sprite-burger-close-view");
    mask-repeat: no-repeat;
  }

  &::after {
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    max-width: 286px;
  }
}
