.header {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 2;

  @media (min-width: $tablet-width) {
    top: 30px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6px 15px;
}

.header__toggle {
  min-height: 54px;
  font-size: 14px;
  background-color: $white;
  transition: background-color 0.3s ease;

  @media (min-width: $tablet-width) {
    padding: 4px 60px 5px 20px;
    min-height: 56px;
  }

  &::before {
    width: 18px;
    height: 8px;
    right: 18px;
    background-color: transparent;
    mask-image: none;
    background-image: url("/__spritemap#sprite-burger-view");
    background-repeat: no-repeat;
    transition: background-image 0.3s;
  }

  &::after {
    padding: 19px 14px;
    width: 46px;
    height: 46px;
    top: 3px;
    right: 4px;
    transition: transform 0.3s ease;

    @media (min-width: $tablet-width) {
      top: 4px;
    }
  }

  @media (hover: hover) {
    &:hover {
      border-color: $white;
    }
  }

  &:active {
    border-color: initial;
  }
}

.header__toggle--opened {
  width: 100%;
  max-width: 290px;
  position: absolute;
  top: 0;
  color: $white;
  background-color: $primary;

  &::before {
    width: 20px;
    height: 20px;
    right: 17px;
    background-image: url("/__spritemap#sprite-burger-close-view");
  }

  &::after {
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    max-width: 678px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1240px;
  }
}
