.hero-card {
  min-height: 568px;
  position: relative;
  z-index: 1;
  background-color: #7d7371;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;

  @media (min-width: $tablet-width) {
    min-height: 1024px;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: $blue-overlay;
    z-index: -1;
  }

  p {
    margin: 0 0 10px;
    padding: 0 14px 15px;
    max-width: 267px;
    font-size: 16px;
    line-height: 20px;
    color: $text;
    background-color: $white;
    border-radius: 0 0 14px;
    text-align: left;

    @media (min-width: $tablet-width) {
      padding: 0 40px 35px;
      max-width: 325px;
      border-radius: 0 0 0 30px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 50px 35px;
      max-width: 496px;
      line-height: 26px;
    }
  }
}

.hero-card--internships {
  background-image: url("../../img/hero/hero-slide-1-mobile.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/hero/hero-slide-1-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/hero/hero-slide-1-tablet.jpg");
    background-position: top;
    background-size: 100%;

    @media (resolution >= 2dppx) {
      background-image: url("../../img/hero/hero-slide-1-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/hero/hero-slide-1-desktop.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/hero/hero-slide-1-desktop@2x.jpg");
    }
  }
}

.hero-card--volunteer {
  background-image: url("../../img/hero/hero-slide-2-mobile.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/hero/hero-slide-2-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/hero/hero-slide-2-tablet.jpg");
    background-position: top;
    background-size: 100%;

    @media (resolution >= 2dppx) {
      background-image: url("../../img/hero/hero-slide-2-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/hero/hero-slide-2-desktop.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/hero/hero-slide-2-desktop@2x.jpg");
    }
  }
}

.hero-card--abroad {
  background-image: url("../../img/hero/hero-slide-3-mobile.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/hero/hero-slide-3-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/hero/hero-slide-3-tablet.jpg");
    background-position: top;
    background-size: 100%;

    @media (resolution >= 2dppx) {
      background-image: url("../../img/hero/hero-slide-3-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/hero/hero-slide-3-desktop.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/hero/hero-slide-3-desktop@2x.jpg");
    }
  }
}

.hero-card__descr {
  padding: 201px 0 30px;

  @media (min-width: $tablet-width) {
    padding: 647px 0 50px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding: 393px 0 50px;
    flex-direction: column;
  }
}

.hero-card__title {
  margin: 0;
  padding: 20px 15px 16px 14px;
  max-width: 291px;
  position: relative;
  font-size: 22px;
  line-height: 26px;
  background-color: $white;
  border-radius: 0 16px 16px 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    padding: 30.5px 40px 23.5px;
    max-width: 659px;
    font-size: 36px;
    line-height: 44px;
    border-radius: 0 30px 30px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 39.5px 50px 30px;
    max-width: 968px;
    font-size: 54px;
    line-height: 62px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 10px;
    right: 15px;
    bottom: -10px;
    background-image: url("/__spritemap#sprite-angle-view");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 26px;
      height: 26px;
      right: 40px;
      bottom: -26px;
      background-image: url("/__spritemap#sprite-angle-tablet-view");
    }

    @media (min-width: $desktop-width) {
      right: 167px;
    }
  }
}

.hero-card__bottom-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.hero-card__angle {
  position: relative;
  max-width: 184px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    display: initial;
  }

  &::before {
    content: "";
    position: absolute;
    width: 184px;
    height: calc(100% + 20px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    border-radius: 0 0 14px 14px;

    @media (min-width: $tablet-width) {
      width: 272px;
      height: 100%;
      top: 50%;
      left: 72%;
      border-radius: 0 0 30px;
      transform: translate(-50%, -57.2%);
    }

    @media (min-width: $desktop-width) {
      width: 293px;
      transform: translate(-49.8%, -57.7%);
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: -10px;
    right: -10px;
    background-image: url("/__spritemap#sprite-angle-view");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}

.hero-card__link {
  margin: 0;
  padding: 6px 5px 5px 20px;
  min-width: 154px;
  min-height: 44px;
  display: inline-block;
  text-decoration: none;
  background-color: $white;
  transition: background-color 0.3s ease, color 0.3s ease;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    padding: 4px 5px 5px 30px;
    min-width: 198px;
    min-height: 56px;

    &::before {
      right: 24px;
      transition: background-color 0.3s ease, transform 0.3s ease, right 0.3s ease;
    }

    &::after {
      width: 46px;
      height: 46px;
      transition: background-color 0.3s ease, transform 0.3s ease, right 0.3s ease;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
    padding: 5px 5px 5px 30px;
    min-width: 199px;
    min-height: 58px;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $primary;
      color: $white;

      &::before {
        background-color: $primary;
        transform: rotate(45deg) translate(4px, -9px);
        right: 27px;

        @media (min-width: $tablet-width) {
          transform: rotate(45deg) translateY(-50%);
        }
      }

      &::after {
        background-color: $white;
      }
    }
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);

    &::before {
      right: 27px;
      background-color: rgba(49, 109, 194, 0.7);
      transform: rotate(45deg) translateY(-50%);
    }
  }

  &:focus-visible {
    outline: none;
    background-color: transparent;
    color: $primary;

    &::before {
      background-color: $white;
      transform: rotate(45deg) translateY(-55%);
      right: 27px;
    }

    &::after {
      background-color: $primary;
    }
  }
}
