.hero-card {
  min-height: 568px;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $tablet-width) {
    min-height: 1024px;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: $blue-overlay;
    z-index: -1;
  }

  p {
    margin: 0 0 10px;
    padding: 0 14px 15px;
    max-width: 267px;
    font-size: 16px;
    line-height: 20px;
    color: $text;
    background-color: $white;
    border-radius: 0 0 14px;

    @media (min-width: $tablet-width) {
      padding: 0 40px 35px;
      max-width: 325px;
      border-radius: 0 0 0 30px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 50px 35px;
      max-width: 496px;
      line-height: 26px;
    }
  }

  &:not(:first-of-type) {
    display: none;
  }
}

.hero-card--internships {
  background-image: url("../../img/hero/hero-slide-1-mobile.jpg");

  @media (min-width: $tablet-width) {
    background-image: url("../../img/hero/hero-slide-1-tablet.jpg");
    background-position: top;
    background-size: 100%;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/hero/hero-slide-1-desktop.jpg");
  }
}

.hero-card--volunteer {
  background-image: url("../../img/hero/hero-slide-2-mobile.jpg");
}

.hero-card--abroad {
  background-image: url("../../img/hero/hero-slide-3-mobile.jpg");
}

.hero-card__descr {
  padding: 229px 0 30px;

  @media (min-width: $tablet-width) {
    padding: 687px 0 50px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $tablet-width) {
    padding: 433px 0 50px;
  }
}

.hero-card__title {
  margin: 0;
  padding: 20px 15px 16px 14px;
  max-width: 291px;
  position: relative;
  font-size: 22px;
  line-height: 26px;
  background-color: $white;
  border-radius: 0 16px 16px 0;

  @media (min-width: $tablet-width) {
    padding: 30.5px 40px 23.5px;
    max-width: 659px;
    font-size: 36px;
    line-height: 44px;
    border-radius: 0 30px 30px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 40.5px 50px 30px;
    max-width: 968px;
    font-size: 54px;
    line-height: 62px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 10px;
    right: 15px;
    bottom: -10px;
    background-image: url("/__spritemap#sprite-angle-view");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 26px;
      height: 26px;
      right: 40px;
      bottom: -26px;
      background-image: url("/__spritemap#sprite-angle-tablet-view");
    }

    @media (min-width: $desktop-width) {
      right: 167px;
    }
  }
}

.hero-card__angle {
  position: relative;
  max-width: 184px;

  &::before {
    content: "";
    position: absolute;
    width: 184px;
    height: calc(100% + 20px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    border-radius: 0 0 14px 14px;

    @media (min-width: $tablet-width) {
      width: 272px;
      height: 100%;
      top: 50%;
      left: 72%;
      border-radius: 0 0 30px;
      transform: translate(-50%, -57.2%);
    }

    @media (min-width: $desktop-width) {
      width: 293px;
      transform: translate(-50%, -58.2%);
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: -10px;
    right: -10px;
    background-image: url("/__spritemap#sprite-angle-view");
    background-repeat: no-repeat;

    @media (min-width: $desktop-width) {
      content: none;
    }
  }
}

.hero-card__link {
  margin-left: 15px;
  padding: 6px 5px 5px 20px;
  min-width: 154px;
  min-height: 44px;
  display: inline-block;
  text-decoration: none;
  background-color: $white;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    padding: 4px 5px 5px 30px;
    min-width: 198px;
    min-height: 56px;

    &::before {
      right: 22px;
    }

    &::after {
      width: 46px;
      height: 46px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
    min-height: 58px;
  }
}
