.hero-card {
  min-height: 568px;
  position: relative;
  z-index: 1;
  background-color: #7d7371;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;

  @media (min-width: $tablet-width) {
    min-height: 1024px;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: $blue-overlay;
    z-index: -1;
  }

  p {
    margin: 0;
    padding: 0 14px 15px;
    max-width: 267px;
    font-size: 16px;
    line-height: 20px;
    color: $text;
    background-color: $white;
    text-align: left;

    @media (min-width: $tablet-width) {
      padding: 0 40px 35px;
      min-width: 325px;
      max-width: 325px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 50px 35px;
      min-width: 496px;
      max-width: 496px;
      line-height: 26px;
    }
  }


  p:last-of-type {
    border-radius: 0 0 14px;

    @media (min-width: $tablet-width) {
      border-radius: 0 0 0 30px;
    }

    @media (min-width: $desktop-width) {
      padding: 10px 50px 35px;
      grid-column: 1;
      border-radius: 30px 0 30px 30px;
    }
  }

  p:first-of-type {
    @media (min-width: $desktop-width) {
      padding: 0 50px 35px;
      grid-column: 1;
      border-radius: 0 0 0 30px;
    }
  }
}

.hero-card--internships {
  background-image: url("/img/hero/hero-slide-1-mobile.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("/img/hero/hero-slide-1-mobile@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    background-image: url("/img/hero/hero-slide-1-tablet.jpg");
    background-position: top;
    background-size: 100%;

    @media (resolution >= 2dppx) {
      background-image: url("/img/hero/hero-slide-1-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("/img/hero/hero-slide-1-desktop.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("/img/hero/hero-slide-1-desktop@2x.jpg");
      background-size: cover;
    }
  }
}

.hero-card--volunteer {
  background-image: url("/img/hero/hero-slide-2-mobile.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("/img/hero/hero-slide-2-mobile@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    background-image: url("/img/hero/hero-slide-2-tablet.jpg");
    background-position: top;
    background-size: 100%;

    @media (resolution >= 2dppx) {
      background-image: url("/img/hero/hero-slide-2-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("/img/hero/hero-slide-2-desktop.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("/img/hero/hero-slide-2-desktop@2x.jpg");
      background-size: cover;
    }
  }
}

.hero-card--abroad {
  background-image: url("/img/hero/hero-slide-3-mobile.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("/img/hero/hero-slide-3-mobile@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    background-image: url("/img/hero/hero-slide-3-tablet.jpg");
    background-position: top;
    background-size: 100%;

    @media (resolution >= 2dppx) {
      background-image: url("/img/hero/hero-slide-3-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("/img/hero/hero-slide-3-desktop.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("/img/hero/hero-slide-3-desktop@2x.jpg");
      background-size: cover;
    }
  }
}

.hero-card__descr {
  padding: 229px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 687px 0 50px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding: 433px 0 50px;
    flex-direction: column;
  }
}

.hero-card__title {
  margin: 0;
  padding: 20px 15px 16px 14px;
  max-width: 291px;
  min-height: 140px;
  position: relative;
  font-size: 22px;
  line-height: 26px;
  background-color: $white;
  border-radius: 0 16px 16px 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    padding: 30.5px 40px 23.5px;
    max-width: 659px;
    min-height: 142px;
    font-size: 36px;
    line-height: 44px;
    border-radius: 0 30px 30px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 39.5px 50px 30px;
    max-width: 968px;
    min-height: 194px;
    font-size: 54px;
    line-height: 62px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 10px;
    right: 15px;
    bottom: -10px;
    background-image: url("/__spritemap#sprite-angle-view");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 26px;
      height: 26px;
      right: 40px;
      bottom: -26px;
      background-image: url("/__spritemap#sprite-angle-tablet-view");
    }

    @media (min-width: $desktop-width) {
      right: 167px;
    }
  }
}

.hero-card__bottom-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $tablet-width) {
    max-width: 775px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.hero-card__angle {
  position: relative;
  max-width: 184px;
  display: flex;
  justify-content: center;
  background-color: $white;
  border-radius: 0 0 14px 14px;

  @media (min-width: $tablet-width) {
    display: initial;
    border-radius: 0 0 30px;
    max-width: 268px;
    min-width: 268px;
  }

  @media (min-width: $desktop-width) {
    max-width: 279px;
    min-width: 279px;
    grid-column: 2;
    grid-row: 1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    right: -10px;
    background-image: url("/__spritemap#sprite-angle-view");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}

.hero-card .hero-card__link {
  margin: 10px 0;
  padding: 16px 58px 5px 20px;
  position: relative;
  min-width: 154px;
  min-height: 44px;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: $primary;
  background-color: transparent;
  border: 1px solid $primary;
  border-radius: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: left;
  z-index: 2;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 30px;
    padding: 20px 60px 20px 30px;
    min-width: 198px;
    min-height: 56px;
    font-size: 14px;

    &::before {
      right: 24px;
      transition: background-color 0.3s ease, transform 0.3s ease, right 0.3s ease;
    }

    &::after {
      width: 46px;
      height: 46px;
      transition: background-color 0.3s ease, transform 0.3s ease, right 0.3s ease;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
    padding: 21px 60px 20px 30px;
    min-width: 199px;
    min-height: 58px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);
    background-color: $white;
    mask-image: url("/__spritemap#sprite-arrow-link-view");
    mask-repeat: no-repeat;
    z-index: 1;
    transition: background-color 0.3s ease;

    @media (min-width: $tablet-width) {
      right: 23px;
    }

    @media (min-width: $desktop-width) {
      right: 24px;
    }
  }

  &::after {
    content: "";
    padding: 12px;
    position: absolute;
    width: 34px;
    height: 34px;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    background-color: $primary;
    border-radius: 44px;

    @media (min-width: $tablet-width) {
      width: 46px;
      height: 46px;
    }

    @media (min-width: $desktop-width) {
      right: 5px;
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: $primary;
      color: $white;

      &::before {
        background-color: $primary;
        transform: rotate(45deg) translate(4px, -9px);
        right: 27px;

        @media (min-width: $tablet-width) {
          transform: rotate(45deg) translateY(-50%);
        }
      }

      &::after {
        background-color: $white;
      }
    }
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);

    &::before {
      right: 27px;
      background-color: rgba(49, 109, 194, 0.7);
      transform: rotate(45deg) translateY(-50%);
    }
  }

  &:focus-visible {
    outline: none;
    background-color: transparent;
    color: $primary;

    &::before {
      background-color: $white;
      right: 27px;
      transform: rotate(45deg) translateY(-55%);
    }

    &::after {
      background-color: $primary;
    }
  }
}
