.news {
  padding: 51px 15px 50px;

  @media (min-width: $tablet-width) {
    padding: 50px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 100px;
  }
}

.news__container {
  max-width: none;

  @media (min-width: $tablet-width) {
    max-width: 678px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1240px;
  }
}

.news__title {
  margin: 0 auto 23px;
  max-width: 290px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 30px;
    max-width: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 40px;
  }
}

.news__list {
  margin: 0;
  max-width: 290px;
  max-height: 590px;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: auto;
  grid-template-rows: 330px 240px;
  transform: translateX(-8px);

  @media (min-width: $tablet-width) {
    max-width: 678px;
    max-height: 730px;
    transform: none;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1240px;
    display: flex;
    flex-wrap: nowrap;
  }
}

.news__item:nth-child(1) {
  order: -1;
}

.news__item:nth-child(3) {
  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-width: $desktop-width) {
    order: initial;
  }
}

.news__item:nth-child(6) {
  order: -1;

  @media (min-width: $tablet-width) {
    order: initial;
  }
}

.news__item:nth-child(11) {
  order: -1;

  @media (min-width: $tablet-width) {
    order: initial;
  }
}
