.programs {
  padding: 56px 15px 50px;

  @media (min-width: $tablet-width) {
    padding: 53px 45px 112px;
  }

  @media (min-width: $desktop-width) {
    padding: 65px 100px 122px;
  }
}

.programs__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 0;
  }

  @media (min-width: $desktop-width) {
    gap: 39px 0;
  }
}

.programs__title {
  margin: 0 0 34px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.programs__link {
  padding: 6px 5px 5px 30px;
  min-width: 205px;
  max-width: 205px;
  display: inline-block;
  text-decoration: none;
  order: 1;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    padding: 20px 81px 20px 31px;
    align-content: normal;
    min-width: 234px;
    max-width: 234px;
    transform: translateY(-3px);
    order: initial;
  }

  @media (min-width: $desktop-width) {
    &::before {
      right: 23px;
    }

    &::after {
      top: 4px;
      right: 4px;
    }
  }
}

.programs__list {
  display: flex;
}

/* .programs__item {
  display: none;

  &:first-child {
    display: block;
  }

  @media (min-width: $tablet-width) {
    &:nth-child(-n + 2) {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(-n + 3) {
      display: block;
    }
  }
} */
