.program {
  margin: 0 0 30px;
  min-width: 290px;
  max-width: 290px;
  min-height: 400px;
  border-radius: 12px;
  position: relative;
  z-index: 1;
  background-color: $primary;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    margin: 0;
    min-width: 324px;
    max-width: 324px;
    min-height: 420px;
  }

  @media (min-width: $desktop-width) {
    min-width: 392px;
    max-width: 392px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: $blue-overlay;
    z-index: -1;
    border-radius: inherit;
  }

  p {
    margin: 0;
    max-width: 188px;
    font-size: 12px;
    line-height: 14px;
    color: $text;

    @media (min-width: $tablet-width) {
      max-width: 196px;
      font-size: 14px;
      line-height: 20px;
    }

    @media (min-width: $desktop-width) {
      max-width: 239px;
      line-height: 18px;
    }
  }
}

.program--internships {
  background-image: url("/img/programs/program-slide-1-mobile.png");

  @media (resolution >= 2dppx) {
    background-image: url("/img/programs/program-slide-1-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("/img/programs/program-slide-1-tablet.png");

    @media (resolution >= 2dppx) {
      background-image: url("/img/programs/program-slide-1-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("/img/programs/program-slide-1-desktop.png");

    @media (resolution >= 2dppx) {
      background-image: url("/img/programs/program-slide-1-desktop@2x.png");
    }
  }
}

.program--volunteering {
  background-image: url("/img/programs/program-slide-2-mobile.png");

  @media (resolution >= 2dppx) {
    background-image: url("/img/programs/program-slide-2-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("/img/programs/program-slide-2-tablet.png");

    @media (resolution >= 2dppx) {
      background-image: url("/img/programs/program-slide-2-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("/img/programs/program-slide-2-desktop.png");

    @media (resolution >= 2dppx) {
      background-image: url("/img/programs/program-slide-2-desktop@2x.png");
    }
  }
}

.program--studies {
  background-image: url("/img/programs/program-slide-3-mobile.png");

  @media (resolution >= 2dppx) {
    background-image: url("/img/programs/program-slide-3-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("/img/programs/program-slide-3-tablet.png");

    @media (resolution >= 2dppx) {
      background-image: url("/img/programs/program-slide-3-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("/img/programs/program-slide-3-desktop.png");

    @media (resolution >= 2dppx) {
      background-image: url("/img/programs/program-slide-3-desktop@2x.png");
    }
  }
}

.program__descr {
  padding: 271px 10px 0;

  @media (min-width: $tablet-width) {
    padding: 285px 20px 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 280px 20px 10px;
  }
}

.program__name {
  margin: 0;
  padding: 18px 18px 6px;
  max-width: 146px;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $primary;
  background-color: $white;
  border-radius: 12px 12px 0 0;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    right: -18px;
    bottom: 0;
    background-image: url("/__spritemap#sprite-angle-bottom-view");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    padding: 19px 18px 5px;
    max-width: 173px;
    font-size: 20px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    padding: 18px 18px 6px;
    max-width: 194px;
    font-size: 24px;
    line-height: 17px;
  }
}

.program__angle {
  padding: 13px 18px 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background-color: $white;
  border-radius: 0 12px 12px;

  @media (min-width: $tablet-width) {
    padding: 12px 18px 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 13px 18px 15px;
    max-width: 321px;
    min-height: 82px;
  }
}

.program__link {
  transition: background-color 0.3s ease, transform 0.3s ease;

  @media (hover: hover) {
    &:hover {
      background-color: $white;

      &::before {
        background-color: $primary;
        transform: rotate(45deg);
      }
    }
  }

  &:active {
    background-color: $white;

    &::before {
      background-color: rgba(49, 109, 194, 0.7);
      transform: rotate(45deg);
    }
  }

  &:focus-visible {
    outline: none;
    background-color: $primary;

    &::before {
      background-color: $white;
      transform: rotate(45deg);
    }
  }
}
