.reviews {
  padding: 56px 15px 50px;

  @media (min-width: $tablet-width) {
    padding: 50px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 61px 100px 122px;
  }
}

.reviews__title {
  margin: 0 0 34px;

  @media (min-width: $desktop-width) {
    margin: 0 0 45px;
    padding-left: 3px;
  }
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media (min-width: $desktop-width) {
    gap: 32px;
  }
}

.reviews__item {
  height: 100%;
  display: none;

  &:first-child {
    display: block;

    @media (min-width: $desktop-width) {
      .review {
        padding: 50px 50px 76px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    &:nth-child(2) {
      display: block;
    }
  }
}

.reviews__item:nth-child(2) {
  @media (min-width: $desktop-width) {
    .description {
      padding: 0 0 0 111px;
      grid-template-columns: 116px 69px;
    }
  }
}
