.reviews {
  padding: 56px 15px 50px;

  @media (min-width: $tablet-width) {
    padding: 50px 0 50px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 65px 100px 58px;
  }
}

.reviews__container {
  @media (min-width: $tablet-width) {
    max-width: none;
  }

  @media (min-width: $desktop-width) {
    max-width: 1240px;
  }
}

.reviews__title {
  margin: 0 0 34px;

  @media (min-width: $tablet-width) {
    margin: 0 0 35px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 45px;
    padding-left: 3px;
  }
}

.reviews__list {
  display: flex;
  grid-column: 1 / -1;
}

.reviews__item {
  height: 100%;

  &:first-child {
    @media (min-width: $desktop-width) {
      .review {
        padding: 50px 50px 76px;
      }
    }
  }
}

.reviews__item:nth-child(2) {
  @media (min-width: $desktop-width) {
    .description {
      padding: 0 0 0 111px;
      grid-template-columns: 116px 69px;
    }
  }
}
