.social {
  max-width: 98px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.social__link {
  display: block;
  width: 26px;
  height: 26px;
  background-color: $primary;
  border-radius: 50%;
}
