.social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-self: center;

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.social__link {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  background-color: $primary;
  border-radius: 50%;
  transition: background-color 0.3s ease;

  &::before {
    transition: background-color 0.3s ease;
  }

  @media (min-width: $tablet-width) {
    width: 36px;
    height: 36px;
  }

  &--vk::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    mask-image: url("/__spritemap#sprite-vk-view");
    mask-size: 12px 8px;
    mask-repeat: no-repeat;
    mask-position: center;

    @media (min-width: $tablet-width) {
      width: 16px;
      height: 9px;
      mask-size: 16px 9px;
    }
  }

  &--ok::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    mask-image: url("/__spritemap#sprite-ok-view");
    mask-size: 8px 12px;
    mask-repeat: no-repeat;
    mask-position: center;

    @media (min-width: $tablet-width) {
      width: 10px;
      height: 17px;
      mask-size: 10px 17px;
    }
  }

  &--reddit::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    mask-image: url("/__spritemap#sprite-reddit-view");
    mask-size: 12px 12px;
    mask-repeat: no-repeat;
    mask-position: center;

    @media (min-width: $tablet-width) {
      width: 16px;
      height: 17px;
      mask-size: 16px 17px;
    }
  }

  @media (hover: hover) {
    &:hover {
      &::before {
        background-color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  &:active {
    background-color: $state-active;
  }

  &:focus-visible {
    outline: none;
    background-color: $white;

    &::before {
      background-color: $primary;
    }
  }
}
