.swiper {
  width: 100%;
  height: 100%;
}

.swiper-container {
  position: relative;
  overflow: hidden;

  .swiper-horizontal > .swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(49, 109, 194, 0.2);
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      max-width: 562px;
    }

    @media (min-width: $desktop-width) {
      display: block;
      max-width: 1136px;
    }
  }

  .swiper-scrollbar-drag {
    background-color: $primary;
    opacity: 1;
  }
}

.swiper-hero {
  width: 100%;
  min-height: 568px;
  height: auto;
  overflow: hidden;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 1024px;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;
  }

  .swiper-slide {
    min-width: 100%;
    height: auto;
  }

  .swiper-pagination {
    padding: 10px 16px;
    position: absolute;
    top: 201px;
    min-width: 80px;
    max-width: 80px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px 12px 0 0;
    gap: 12px;
    background-color: $white;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    @media (min-width: $tablet-width) {
      padding: 14px 20px;
      min-width: 100px;
      max-width: 100px;
      top: 647px;
      border-radius: 20px 20px 0 0;
    }

    @media (min-width: $desktop-width) {
      top: 393px;
    }
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 201px;
    bottom: auto;
    left: auto;

    @media (min-width: $tablet-width) {
      top: 647px;
    }

    @media (min-width: $desktop-width) {
      top: 393px;
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
  }

  .swiper-pagination--hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0s, visibility 0s;
  }

  .swiper-pagination-bullet {
    margin: 0;
    padding: 0;
    display: block;
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 2px solid $primary;
    border-radius: 50%;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      width: 12px;
      height: 12px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $state-active;
    border-color: $state-active;
  }
}

.swiper-programs {
  padding: 0 0 20px;
  width: 100%;
  min-height: 400px;
  height: auto;
  overflow: hidden;
  position: relative;

  .swiper-slide {
    min-width: 290px;
    max-width: 290px;
    min-height: 400px;

    @media (min-width: $tablet-width) {
      min-width: 324px;
      max-width: 324px;
      min-height: 420px;
    }

    @media (min-width: $desktop-width) {
      min-width: 392px;
      max-width: 392px;
    }
  }
}

.swiper-reviews {
  width: 100%;
  min-height: 472px;
  height: auto;
  overflow: hidden;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 0 40px;
    min-height: 417px;

    .swiper-slide {
      width: 80%;
      min-width: 560px;
      max-width: 560px;
      min-height: 417px;
    }

    .swiper-slide:nth-child(2n) {
      width: 60%;
    }

    .swiper-slide:nth-child(3n) {
      width: 40%;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 483px;

    .swiper-slide {
      min-height: 483px;
    }
  }
}

.swiper-fade {
  .swiper-slide {
    transition-property: opacity;
  }
}
