.swiper {
  width: 100%;
  height: 100%;
}

.swiper-container {
  position: relative;
}

.swiper-hero {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 1024px;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;
  }

  .swiper-slide {
    min-width: 100%;
    height: auto;
  }

  .swiper-pagination {
    padding: 10px 16px;
    position: absolute;
    top: 201px;
    min-width: 80px;
    max-width: 80px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px 12px 0 0;
    gap: 12px;
    background-color: $white;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    @media (min-width: $tablet-width) {
      padding: 14px 20px;
      min-width: 100px;
      max-width: 100px;
      top: 647px;
      border-radius: 20px 20px 0 0;
    }

    @media (min-width: $desktop-width) {
      top: 393px;
    }
  }

  .swiper-pagination--hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0s, visibility 0s;
  }

  .swiper-pagination-bullet {
    margin: 0;
    padding: 0;
    display: block;
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 2px solid $primary;
    border-radius: 50%;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      width: 12px;
      height: 12px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $state-active;
    border-color: $state-active;
  }
}

.swiper-fade {
  .swiper-slide {
    transition-property: opacity;
  }
}
